<!-- Run rtabmap_ros -->
<launch>
    <arg name="camera1_name"     default="d435i"/>
    <arg name="camera2_name"     default="t265"/>
    <arg name="db_folder"        default="/media/lab/Samsung" />
    <arg name="database_name"    default="test.db" />

    <arg name="localization"     default="false"/>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        
        <arg name="localization"            value="$(arg localization)"/>
        <arg name="frame_id"                value="$(arg camera1_name)_link"/> 
        <arg name="database_path"           value="$(arg db_folder)/rtabmap_ros/$(arg database_name)"/>

        <arg name="rtabmap_args"            value="--delete_db_on_start" 
            if="$(eval arg('localization') == 'false')"/> 

        <arg name="depth_topic"             value="/$(arg camera1_name)/aligned_depth_to_color/image_raw"/>
        <arg name="rgb_topic"               value="/$(arg camera1_name)/color/image_raw"/>
        <arg name="camera_info_topic"       value="/$(arg camera1_name)/color/camera_info"/>
        
        <arg name="visual_odometry"         value="false"/>
        <arg name="odom_topic"              value="/$(arg camera2_name)/odom/sample"/>
        
        <arg name="queue_size"              value="200"/>
        <arg name="rviz"                    value="true"/>
        <arg name="rtabmapviz"              value="false"/>

    </include>
</launch>