<!-- To replay the logged data -->
<launch>
    <arg name="use_compressedDepth" default="true"/>

    <param name="use_sim_time" type="bool" value="true"/>

    <!-- Uncompress images -->
    <node name="republish_color" type="republish" pkg="image_transport" args="compressed in:=/d435i/color/image_raw raw out:=/d435i/color/image_raw" />
    <node name="republish_depth" type="republish" pkg="image_transport" args="compressedDepth in:=/d435i/aligned_depth_to_color/image_raw raw out:=/d435i/aligned_depth_to_color/image_raw"
        if="$(eval arg('use_compressedDepth') == true)"/>
    <node name="republish_depth" type="republish_depth.py" pkg="neptune_ros" output="screen"
        if="$(eval arg('use_compressedDepth') == false)"/>

    <!-- Vehicle description -->
    <arg name="urdf_folder" default="$(find edu_450)/urdf" />
    <arg name="vehicle_model" default="$(arg urdf_folder)/edu_450.urdf" />

    <param name="robot_description" textfile="$(arg vehicle_model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Replay Mavros -->
    <group ns='replay'>
        <node name="replay_mavros" pkg="neptune_ros" type="replay_mavros.py" output="screen">
            <param name="rate" value="200" />
        </node>

        <!-- static tf -->
        <node pkg="tf" type="static_transform_publisher" name="baselink_to_drone" args="0 0 0 0 0 0 /base_link /drone_link 5"/>
    </group>

    <!-- rviz for visualization -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find neptune_ros)/rviz/replay.rviz"/>

</launch>