<launch>
  <!-- D435i -->
  <include file="$(find neptune_ros)/launch/camera/rs_d435i.launch" > 
    <arg name="camera"            value="d435i"/>
    <arg name="enable_gyro"       value="false"/>
    <arg name="enable_accel"      value="false"/>
    <!-- <arg name="enable_infra1"     value="false"/>
    <arg name="enable_infra2"     value="false"/> -->
    <arg name="filters"           value="pointcloud"/>
  </include>

  <!-- T265 -->
  <include file="$(find neptune_ros)/launch/camera/rs_t265.launch" >
    <arg name="camera"            value="t265"/>
    <arg name="publish_odom_tf"   value="true"/>
  </include>

  <!-- tf static -->
  <node pkg="tf" type="static_transform_publisher" name="t265_to_d435i" args="-0.00143 0.0084 0.03782 0 -0.64577 0 /t265_link /d435i_link 50"/>

  <!-- Duplicate the tf tree -->
  <node pkg="topic_tools" type="relay" name="t265_relay" args="/t265/odom/sample /camera/odom/sample" />
</launch>
