<launch>
    <arg name="camera_name"     default="d435i"/>
    <arg name="output_folder" default="/media/$(env USER)/SSD"/>

    <node pkg="rosbag" type="record" name="record_bag" 
        args="record /$(arg camera_name)/color/image_raw/compressed
                /$(arg camera_name)/color/camera_info
                /$(arg camera_name)/aligned_depth_to_color/image_raw
                /$(arg camera_name)/aligned_depth_to_color/camera_info
                /$(arg camera_name)/depth/color/points
                /tf
                /tf_static
                /mavros/altitude
                /mavros/distance_sensor/rangefinder_pub
                /mavros/global_position/compass_hdg
                /mavros/global_position/global
                /mavros/global_position/local
                /mavros/global_position/rel_alt
                /mavros/global_position/raw/fix
                /mavros/global_position/raw/gps_vel
                /mavros/global_position/raw/satellites
                /mavros/gpsstatus/gps1/raw
                /mavros/home_position/home
                /mavros/local_position/odom
                /mavros/local_position/pose
                /mavros/local_position/velocity_body
                /mavros/local_position/velocity_local
                /mavros/rc/in
                /mavros/rc/out 
                /mavros/setpoint_raw/local
                /mavros/setpoint_raw/target_attitude 
                /mavros/setpoint_raw/target_local
                /mavros/state
                /mavros/target_actuator_control 
                --lz4
                -o $(arg output_folder)/px4"
    />

</launch>