<launch>
    <arg name="camera_name"     default="d435i"/>
    <arg name="output_filepath" default="/media/$(env USER)/SSD/"/>

    <node pkg="rosbag" type="record" name="record_bag" 
        args="record /$(arg camera_name)/color/image_raw/compressed
                /$(arg camera_name)/color/camera_info
                /tf
                /tf_static
                /mavros/home_position/home
                /mavros/global_position/global
                /mavros/global_position/compass_hdg
                /mavros/global_position/local
                /mavros/local_position/pose
                /mavros/local_position/velocity_body
                /mavros/rc/in
                /mavros/state
                --lz4
                -o $(arg output_filepath)/gps"
    />

</launch>