<launch>
    <arg name="kp"              default="1.0"/>
    <arg name="ki"              default="0.15"/>
    <arg name="kd"              default="0.05"/>
    <arg name="integral_limit"  default="1.0"/>
    <arg name="output_limit"    default="1.5"/>
    <arg name="hover_test"      default="False"/>

    <node name="forward_flight"  pkg="px4_offboard"  type="forward_flight"  output="screen">
        <param name="forward_speed"  type="double"  value="0.8"/>
        <param name="max_yawrate"    type="double"  value="45.0"/>
        <param name="yaw_channel"    type="int"     value="3"/>
        <param name="yaw_pwm_min"    type="int"     value="1067"/>
        <param name="yaw_pwm_max"    type="int"     value="1932"/>
        <param name="control_source" type="string"  value="rc"/>
        <param name="hover_test"     type="bool"    value="$(arg hover_test)"/>
        <param name="kp"             type="double"  value="$(arg kp)"/>
        <param name="ki"             type="double"  value="$(arg ki)"/>
        <param name="kd"             type="double"  value="$(arg kd)"/>
        <param name="integral_limit" type="double"  value="$(arg integral_limit)"/>
        <param name="output_limit"   type="double"  value="$(arg output_limit)"/>
    </node>

</launch>