<launch>
    <node name="forward_flight"  pkg="px4_offboard"  type="forward_flight"  output="screen">
        <param name="forward_speed"  type="double"  value="0.8"/>
        <param name="max_yawrate"    type="double"  value="45.0"/>
        <param name="yaw_channel"    type="int"     value="3"/>
        <param name="yaw_pwm_min"    type="int"     value="982"/>
        <param name="yaw_pwm_max"    type="int"     value="2006"/>
        <param name="control_source" type="string"  value="joystick"/>
        <!-- <param name="control_source" type="string"  value="ai"/> -->
    </node>

</launch>